.adduser {
    width: 60%;
    display: flex;
    height: 80%;
}


.adduser .top {
    width: 100%;
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 15px;
}


.formInput {
    width: 50%;

}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;



}

.form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

select {
    width: 50%;
    display: flex;
    height: 30px;
}

label {
    padding: 10px;
    color: brown;
    margin-left: 10px;
    font-family: montserrat, sans-serif;
    font-size: larger;


}

button {
    color: brown;
    font-family: montserrat, sans-serif;
    font-size: larger;
    border-radius: 8px;
    background-color: peru;
    width: 75px;
    height: 40px;
}

h1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: brown;
}